<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rotana">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="com.fingerprints.service.ACCESS_FINGERPRINT_MANAGER"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_small"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_small"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity android:name="com.example.rotana.aempInfo"></activity>
        <activity android:name="com.example.rotana.aempLogin" />
        <activity android:name="com.example.rotana.pillsPurchases" />
        <activity android:name="com.example.rotana.supplierPillinfo" />
        <activity android:name="com.example.rotana.pymentsCreatPill" />
        <activity android:name="com.example.rotana.notificationInfo" />
        <activity android:name="com.example.rotana.notificationActivity" />
        <activity android:name="com.example.rotana.vipInfo" />
        <activity android:name="com.example.rotana.addVipUserItem" />
        <activity android:name="com.example.rotana.vipAdd" />
        <activity android:name="com.example.rotana.vipActivity" />
        <activity
            android:name="com.example.rotana.DriveCustom"
            android:parentActivityName="com.example.rotana.Emppage" />
        <activity
            android:name="com.example.rotana.ContestsActiivty"
            android:parentActivityName="com.example.rotana.Emppage" />
        <activity android:name="com.example.rotana.taxChange" />
        <activity android:name="com.example.rotana.supplierAddOne" />
        <activity android:name="com.example.rotana.suppliersItem" />
        <activity android:name="com.example.rotana.suppliers" />
        <activity android:name="com.example.rotana.cashAddItemAR" />
        <activity
            android:name="com.example.rotana.aa3"
            android:parentActivityName="com.example.rotana.Adminpage" />
        <activity android:name="com.example.rotana.zzStringToBitmap" />
        <activity android:name="com.example.rotana.VisaReport" />
        <activity
            android:name="com.example.rotana.Job_Apps"
            android:parentActivityName="com.example.rotana.Adminpage" />
        <activity
            android:name="com.example.rotana.PointReport"
            android:parentActivityName="com.example.rotana.Adminpage" />
        <activity
            android:name="com.example.rotana.driverReport"
            android:parentActivityName="com.example.rotana.Adminpage" />
        <activity
            android:name="com.example.rotana.ratingSystem"
            android:parentActivityName="com.example.rotana.Adminpage" />
        <activity
            android:name="com.example.rotana.RateActivity"
            android:parentActivityName="com.example.rotana.Main2Activity" />
        <activity
            android:name="com.example.rotana.offer"
            android:parentActivityName="com.example.rotana.Emppage" />
        <activity android:name="com.example.rotana.Zreport" />
        <activity android:name="com.example.rotana.Main2Activity" />
        <activity
            android:name="com.example.rotana.cashAddItem"
            android:parentActivityName="com.example.rotana.aa3" />
        <activity
            android:name="com.example.rotana.Tabel_Res_Emp"
            android:parentActivityName="com.example.rotana.Emppage" />
        <activity android:name="com.example.rotana.casher" />
        <activity
            android:name="com.example.rotana.employeeSalaryDiscount"
            android:parentActivityName="com.example.rotana.Adminpage" />
        <activity android:name="com.example.rotana.employeeLoans" />
        <activity android:name="com.example.rotana.statisticsByItem" />
        <activity android:name="com.example.rotana.statisticsByEmp" />
        <activity android:name="com.example.rotana.statisticsByDay" />
        <activity
            android:name="com.example.rotana.statisticsMainActivity"
            android:parentActivityName="com.example.rotana.Adminpage" />
        <activity android:name="com.example.rotana.Add_Emp" />
        <activity
            android:name="com.example.rotana.statistics_chart"
            android:parentActivityName="com.example.rotana.statistics" />
        <activity android:name="com.example.rotana.empPermission" />
        <activity
            android:name="com.example.rotana.Tabel_res_new"
            android:parentActivityName="com.example.rotana.Main2Activity" />
        <activity
            android:name="com.example.rotana.aa2"
            android:parentActivityName="com.example.rotana.warehouse" />
        <activity android:name="com.example.rotana.aa1" />
        <activity
            android:name="com.example.rotana.warehouse"
            android:parentActivityName="com.example.rotana.Adminpage" />
        <activity
            android:name="com.example.rotana.onWork"
            android:parentActivityName="com.example.rotana.employeeCreatInformation" />
        <activity android:name="com.example.rotana.exitInformation" />
        <activity android:name="com.example.rotana.exit" />
        <activity
            android:name="com.example.rotana.adminEmpAccess"
            android:parentActivityName="com.example.rotana.employeeCreatInformation" />
        <activity android:name="com.example.rotana.foodType" />
        <activity android:name="com.example.rotana.UserRegister" />
        <activity android:name="com.example.rotana.UserLogin" />
        <activity
            android:name="com.example.rotana.Profile"
            android:parentActivityName="com.example.rotana.Main2Activity" />
        <activity
            android:name="com.example.rotana.Payment"
            android:parentActivityName="com.example.rotana.Emppage" />
        <activity
            android:name="com.example.rotana.employeeAdd"
            android:parentActivityName="com.example.rotana.employeeCreatInformation" />
        <activity
            android:name="com.example.rotana.employeeCreatInformation"
            android:parentActivityName="com.example.rotana.Adminpage" />
        <activity
            android:name="com.example.rotana.statistics"
            android:parentActivityName="com.example.rotana.Adminpage" />
        <activity
            android:name="com.example.rotana.Online"
            android:parentActivityName="com.example.rotana.Emppage" />
        <activity
            android:name="com.example.rotana.Delivery_Emp"
            android:parentActivityName="com.example.rotana.Emppage" />
        <activity
            android:name="com.example.rotana.TakeAway_Emp"
            android:parentActivityName="com.example.rotana.Emppage" />
        <activity
            android:name="com.example.rotana.Emppage"
            android:label="@string/title_activity_del_emp"
            android:stopWithTask="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.rotana.TakeAway"
            android:parentActivityName="com.example.rotana.Guest" />
        <activity
            android:name="com.example.rotana.About"
            android:parentActivityName="com.example.rotana.Guest" />
        <activity
            android:name="com.example.rotana.Contact"
            android:parentActivityName="com.example.rotana.Guest" />
        <activity
            android:name="com.example.rotana.Loc"
            android:parentActivityName="com.example.rotana.Guest" />
        <activity
            android:name="com.example.rotana.Delivery"
            android:parentActivityName="com.example.rotana.Guest" />
        <activity
            android:name="com.example.rotana.Tabel_Res"
            android:parentActivityName="com.example.rotana.Guest" />
        <activity
            android:name="com.example.rotana.Guest"
            android:parentActivityName="com.example.rotana.Guest" />
        <activity android:name="com.example.rotana.Drive" />
        <activity android:name="com.example.rotana.Adminpage" />
        <activity android:name="com.example.rotana.Login" />
        <activity
            android:name="com.example.rotana.SplashAct"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.rotana.splashscreen" />
        <activity android:name="com.example.rotana.MainActivity" />
        <activity android:name="com.example.rotana.HomeAct" />

        <service android:name="com.example.rotana.MyService" />
    </application>

</manifest>