<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rotanademo">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="com.fingerprints.service.ACCESS_FINGERPRINT_MANAGER"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_small"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_small"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity android:name="com.example.rotanademo.aempInfo"></activity>
        <activity android:name="com.example.rotanademo.aempLogin" />
        <activity android:name="com.example.rotanademo.pillsPurchases" />
        <activity android:name="com.example.rotanademo.supplierPillinfo" />
        <activity android:name="com.example.rotanademo.pymentsCreatPill" />
        <activity android:name="com.example.rotanademo.notificationInfo" />
        <activity android:name="com.example.rotanademo.notificationActivity" />
        <activity android:name="com.example.rotanademo.vipInfo" />
        <activity android:name="com.example.rotanademo.addVipUserItem" />
        <activity android:name="com.example.rotanademo.vipAdd" />
        <activity android:name="com.example.rotanademo.vipActivity" />
        <activity
            android:name="com.example.rotanademo.DriveCustom"
            android:parentActivityName="com.example.rotanademo.Emppage" />
        <activity
            android:name="com.example.rotanademo.ContestsActiivty"
            android:parentActivityName="com.example.rotanademo.Emppage" />
        <activity android:name="com.example.rotanademo.taxChange" />
        <activity android:name="com.example.rotanademo.supplierAddOne" />
        <activity android:name="com.example.rotanademo.suppliersItem" />
        <activity android:name="com.example.rotanademo.suppliers" />
        <activity android:name="com.example.rotanademo.cashAddItemAR" />
        <activity
            android:name="com.example.rotanademo.aa3"
            android:parentActivityName="com.example.rotanademo.Adminpage" />
        <activity android:name="com.example.rotanademo.zzStringToBitmap" />
        <activity android:name="com.example.rotanademo.VisaReport" />
        <activity
            android:name="com.example.rotanademo.Job_Apps"
            android:parentActivityName="com.example.rotanademo.Adminpage" />
        <activity
            android:name="com.example.rotanademo.PointReport"
            android:parentActivityName="com.example.rotanademo.Adminpage" />
        <activity
            android:name="com.example.rotanademo.driverReport"
            android:parentActivityName="com.example.rotanademo.Adminpage" />
        <activity
            android:name="com.example.rotanademo.ratingSystem"
            android:parentActivityName="com.example.rotanademo.Adminpage" />
        <activity
            android:name="com.example.rotanademo.RateActivity"
            android:parentActivityName="com.example.rotanademo.Main2Activity" />
        <activity
            android:name="com.example.rotanademo.offer"
            android:parentActivityName="com.example.rotanademo.Emppage" />
        <activity android:name="com.example.rotanademo.Zreport" />
        <activity android:name="com.example.rotanademo.Main2Activity" />
        <activity
            android:name="com.example.rotanademo.cashAddItem"
            android:parentActivityName="com.example.rotanademo.aa3" />
        <activity
            android:name="com.example.rotanademo.Tabel_Res_Emp"
            android:parentActivityName="com.example.rotanademo.Emppage" />
        <activity android:name="com.example.rotanademo.casher" />
        <activity
            android:name="com.example.rotanademo.employeeSalaryDiscount"
            android:parentActivityName="com.example.rotanademo.Adminpage" />
        <activity android:name="com.example.rotanademo.employeeLoans" />
        <activity android:name="com.example.rotanademo.statisticsByItem" />
        <activity android:name="com.example.rotanademo.statisticsByEmp" />
        <activity android:name="com.example.rotanademo.statisticsByDay" />
        <activity
            android:name="com.example.rotanademo.statisticsMainActivity"
            android:parentActivityName="com.example.rotanademo.Adminpage" />
        <activity android:name="com.example.rotanademo.Add_Emp" />
        <activity
            android:name="com.example.rotanademo.statistics_chart"
            android:parentActivityName="com.example.rotanademo.statistics" />
        <activity android:name="com.example.rotanademo.empPermission" />
        <activity
            android:name="com.example.rotanademo.Tabel_res_new"
            android:parentActivityName="com.example.rotanademo.Main2Activity" />
        <activity
            android:name="com.example.rotanademo.aa2"
            android:parentActivityName="com.example.rotanademo.warehouse" />
        <activity android:name="com.example.rotanademo.aa1" />
        <activity
            android:name="com.example.rotanademo.warehouse"
            android:parentActivityName="com.example.rotanademo.Adminpage" />
        <activity
            android:name="com.example.rotanademo.onWork"
            android:parentActivityName="com.example.rotanademo.employeeCreatInformation" />
        <activity android:name="com.example.rotanademo.exitInformation" />
        <activity android:name="com.example.rotanademo.exit" />
        <activity
            android:name="com.example.rotanademo.adminEmpAccess"
            android:parentActivityName="com.example.rotanademo.employeeCreatInformation" />
        <activity android:name="com.example.rotanademo.foodType" />
        <activity android:name="com.example.rotanademo.UserRegister" />
        <activity android:name="com.example.rotanademo.UserLogin" />
        <activity
            android:name="com.example.rotanademo.Profile"
            android:parentActivityName="com.example.rotanademo.Main2Activity" />
        <activity
            android:name="com.example.rotanademo.Payment"
            android:parentActivityName="com.example.rotanademo.Emppage" />
        <activity
            android:name="com.example.rotanademo.employeeAdd"
            android:parentActivityName="com.example.rotanademo.employeeCreatInformation" />
        <activity
            android:name="com.example.rotanademo.employeeCreatInformation"
            android:parentActivityName="com.example.rotanademo.Adminpage" />
        <activity
            android:name="com.example.rotanademo.statistics"
            android:parentActivityName="com.example.rotanademo.Adminpage" />
        <activity
            android:name="com.example.rotanademo.Online"
            android:parentActivityName="com.example.rotanademo.Emppage" />
        <activity
            android:name="com.example.rotanademo.Delivery_Emp"
            android:parentActivityName="com.example.rotanademo.Emppage" />
        <activity
            android:name="com.example.rotanademo.TakeAway_Emp"
            android:parentActivityName="com.example.rotanademo.Emppage" />
        <activity
            android:name="com.example.rotanademo.Emppage"
            android:label="@string/title_activity_del_emp"
            android:stopWithTask="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.rotanademo.TakeAway"
            android:parentActivityName="com.example.rotanademo.Guest" />
        <activity
            android:name="com.example.rotanademo.About"
            android:parentActivityName="com.example.rotanademo.Guest" />
        <activity
            android:name="com.example.rotanademo.Contact"
            android:parentActivityName="com.example.rotanademo.Guest" />
        <activity
            android:name="com.example.rotanademo.Loc"
            android:parentActivityName="com.example.rotanademo.Guest" />
        <activity
            android:name="com.example.rotanademo.Delivery"
            android:parentActivityName="com.example.rotanademo.Guest" />
        <activity
            android:name="com.example.rotanademo.Tabel_Res"
            android:parentActivityName="com.example.rotanademo.Guest" />
        <activity
            android:name="com.example.rotanademo.Guest"
            android:parentActivityName="com.example.rotanademo.Guest" />
        <activity android:name="com.example.rotanademo.Drive" />
        <activity android:name="com.example.rotanademo.Adminpage" />
        <activity android:name="com.example.rotanademo.Login" />
        <activity
            android:name="com.example.rotanademo.SplashAct"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.rotanademo.splashscreen" />
        <activity android:name="com.example.rotanademo.MainActivity" />
        <activity android:name="com.example.rotanademo.HomeAct" />

        <service android:name="com.example.rotanademo.MyService" />
    </application>

</manifest>